.content {
    width: 650px;
    position: relative;
}

.newbtn {
    position: absolute;
    top:0;
    right: 0;
    background-color: darkslategray;
    color: whitesmoke;
}

h3 {
    color: darkcyan;
}

table {
    width: 650px;
    margin-bottom: 50px;
}

td.mat-cell, th.mat-header-cell {
    text-align: center;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type, th.mat-header-cell:last-of-type {
    padding-right: 0;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 10px;
}

.mat-form-field {
    margin: 5px;
}

label {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.searchBox {
  margin-bottom: 20px;
}

.searchBox * {
    margin-right: 10px;
}

.mat-button {
    min-width: 0;
    padding: 0;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 10px;
}