.logo {
    margin-right: 50px;
    color: darkcyan;
    font-weight: bold;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.active {
    background-color: darkcyan;
}

a {
    margin-left: 35px;
    color: whitesmoke;
    background-color: darkslategray;
}