mat-form-field {
    display: block;
}

form {
    width: 350px;
}

button {
    margin: 15px;
}

.dialog {
    position: relative;
}

.closeBtn {
    position: absolute;
    top: -32px;
    right: -31px;
    border: none;
    background-color: transparent;
    outline: none;
    color: black;
    font-size: larger;
    cursor: pointer;
}

.saveBtn {
    display: block; 
    margin: 0 auto;
    width: 150px;
    background-color: darkcyan;
    color: whitesmoke;
}